body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
}
main{
    width: 100%;
    height: 450px;
    background-color: #F38E58;
}
/* Navbar */
.nav-container{
    width: 85%;
    height: 80px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
nav{
    width: 100%;
    overflow: hidden;
    top: 0;
    position: fixed;
    background-color: #F38E58;
}
.nv-left img{
    height: 40px;


}
.nv-left{
    display: flex;
    margin-top: 10px;
}
.nv-left ul{
    display: flex;
    margin-left: 65px;
 }
 .nv-left ul li{
     list-style: none;
     margin-top: 5px;
     margin-right: 25px;
 }
 .nv-left ul li a{
     text-decoration: none;
     color: white;
     
 }
 .nv-right{
     margin-top: 25px;
     
    }
.nv-right a:first-child{
    background-color: #032030;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.nv-right a:last-child{
    border: white 2px  solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.nv-right a{
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 10px;
    font-weight: bold;
}
    /* Contact */
.contact-us{
    text-align: center;
    margin: 80px 0 0 0;
    padding-top: 150px;
}
.contact-us p{
    font-weight: bold;
    font-size: 20px;
}
.contact-us h1{
    margin: 0;
    color: white;
    font-size: 70px;
    
}

    /* Contact info */
#contact{
    margin: 80px 0 0 0;
}
.container{
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}
.container div p a{
    text-decoration: none;
    color: #F38E58;
}
.container div h1{
    color: #56B8D8;
}
.input{
    height: 20px;
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border: rgb(206, 206, 206) solid 2px;
}
#textarea{
    padding: 10px;
    margin-top: 20px;
    border-radius:10px;
    border: rgb(206, 206, 206) solid 2px;
}
button{
    margin: 20px 50px 0 0;
    float: right;
    padding: 20px 50px;
    background-color: #F38E58;
    border: none;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.flex img{
    margin-right: 15px;
    margin-top: -15px;
}
.flex p a{
    text-decoration: none;
    color: #F38E58;
}
.flex p{
    margin-top: 0;
    line-height: 23px;
    font-size: 20px;
}
.flex{
    margin-top: 40px;
    display: flex;

}
::placeholder{
    font-style: italic;
    color: rgb(206, 206, 206);
}
footer{
    margin-top: 150px;
    background-color: #404040;
    width: 100%;
    height: auto;
}
.ft-container{
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 0.3rem;
    padding: 30px 0 ;
}


.ft-container div ul{
    padding: 0;
}
.ft-container div ul li{
    color: white;
    list-style: none;
    margin-bottom: 2px;

}
.ft-container div ul li a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

::selection{
    background-color: #F38E58;
    color: white;
}
.icons li{
    margin-right: 10px;
    margin-top: 10px;
}
.btn{
    color: white;
    padding: 20px ;
    background-color: #032030;
    text-decoration: none;
    font-size: 10px;
    margin-top: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.copyright{
    width: 100%;
    margin: auto;
    background-color: #333333;
    padding: 10px 0;
}
.container-ff{
    width: 95%;
    color: rgba(255, 255, 255, 0.6);
    margin: auto;
}
.container-ff a{
    color: #F38E58;
    text-decoration: none;
}
textarea{
    resize: none;
}